/* CSS Reset dan Font */
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

/* menghilangkan Konten Secara Horizontal */
body{
    overflow-x: hidden;
}

/* Mengatur Seluruh Navigation Bar */
nav{
    display: flex;
    justify-content: space-around;
    background: #212523;
    align-items: center;
    position: fixed;
    width: 100%;
}

/* Mengatur Display Side bar Kanan */
nav .right-side{
    display: flex;
}

/* Mengatur Side Bar Kiri dengan Spesifik */
nav .left-side a h1{
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Spesifik Mengatur Side Bar Kanan */
nav .right-side .nav-link-wrapper a{
    display: block;
    color: white;
    padding: 20px 30px;
    font-size: 18px;
}

/* Mengatur Container Menu Home */
.container-home{
    display: flex;
    flex-direction: column;
    align-items: center; /* agar home berada ditengah*/
    background: #eaeaea;
    padding: 95px 0px 25px 0px;
}

/* Mengatur agar gambar pada home jadi bulat dan lebih kecil */
.container-home img{
    border-radius: 50%;
    height: 253px;
    width: 270px;
}

/* Memperbesar Tulisan tag h1 pada class container-home*/
.container-home h1{
    font-size: 40px;
    margin-top: 10px;
}

/* Memperbesar Tulisan tag p pada class container-home*/
.container-home p{
    font-size: 20px;
}

/* Mengatur Menu About */
.container-about{
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Mengatur Garis Pemisah */
hr.split{
    width: 300px;
    height: 2px;
    background: black;
    margin: 10px 0px;
}

/* Mengatur class text ke tengah dan membuat menjadi colum */
.container-about .text{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 20px 0px;
}

/* Mengatur tulisan tag p pada class container-about */
.container-about .text p{
    width: 500px;
    margin: 0px 40px;
    font-size: 18px;
}